* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, .page-landing, section, .rodape, .cape, #description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1343px;
}

body {
    height: 100%;
    background: linear-gradient(423.62deg, rgb(225, 251, 252), rgb(252, 245, 246))no-repeat
}

.page-landing h1 {
    color: #ff1493;
    font-size: 3.2rem;
    font-family: cursive;
    line-height: 2;
    transition: background 2s;
    text-decoration: none;
    text-align: center;
}

.page-landing h3 {
    margin: -28px auto 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: sans-serif;
    color: #ff1493;
    text-align: center;
}

.page-landing h1:hover {
    color: #000000;
    cursor: pointer;
    animation-delay: 200ms;
    opacity: .5;
}

.cape {
    background-image: url("../img/capa2.jpeg");
    background-attachment: scroll;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    width: 60rem;
    height: 34rem;
    border: none;
    border-radius: 50%;
    margin-bottom: 20px;
    text-align: center;
}

.cape .captext {
    font-size: 66px;
    opacity: .4;
}

.page-landing p {
    color: #8a2be2;
    font-size: 28px;
    font-family: sans-serif;
    margin: 10px auto 10px;
    text-align: center;
}


.box-filme {
    width: 150px;
    height: 200px;
    border: 1px solid #b2b2b2fd;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

#description {
    flex-direction: row;
    text-align: center;
    height: 200px;
}

#description .list {
    height: 100%;
    width: 300px;
    font-size: 22px;
    color: darkviolet;
    margin: 10px auto 21px;
}

li {
    list-style-type: none;
    font-family: sans-serif;
}

footer {
    text-align: center;
}

.rodape footer {
    height: 400px;
    width: 100%;
    opacity: .8;
    background: linear-gradient(152deg, #9400d3, transparent);
    margin: 10px auto 0;
}

.rodape footer .contato {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: column;
}

.rodape footer .contato a {
    text-decoration: none;
    margin-left: 25px;
    margin-top: 19px;
    font-size: 1.5rem;
    color: #f0fff0;
    transition: background 300ms;
}

.rodape footer .contato a:hover {
    color: #ff69b4;
}

.art1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 213px;
    text-align: center;
    float: right;
    margin: -179px auto 50px;
}

.art1 .item p a {
    color: #f0fff0;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 5px;
    text-decoration: none;
}



.rodape footer .textfooter {
    margin: 113px auto 0;
    font-family: monospace;
    font-weight: 600;
    color: #00008b;
    text-align: center;
}

.textfooter span {
    margin-top: -240px;
    font-size: 30px;
}
.textfooter p{
    font-size: 20px;
}

.rodape footer h5 {
    margin-top: 15px;
    font-size: 9px;
    font-family: cursive;
    color: #8b008b;
}